<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="header">
<header role="header">
    <div class="container">

        <!-- logo -->

        <h1> <a th:href="@{/}" title="IELUX"><img th:src="@{/site/images/logo.png}" style="height: 80px;" title="IELUX" alt="IELUX Logo"/></a> </h1>

        <!-- logo -->

        <!-- 个人头像 -->

        <div class="user-profile">
            <a th:href="@{/about}" title="关于我">
                <img th:src="@{/site/images/social/profile.jpg}" alt="Personal Avatar" class="avatar-img"/>
            </a>
        </div>

        <!-- 个人头像 -->

    </div>
</header>
</html>